<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	 
	

	<!--Configuração da API Gemini  -->
	<appSettings>
		<add key="GoogleAI_ApiKey" value="AIzaSyDADz1dpzGL0T8JyUGV467hFu2QX4G9rdo" />
		<add key="GoogleAI_Model" value="gemini-pro-latest" />
	</appSettings>

	
</configuration>